.App {
  /* position: relative; */
  /* width: 100%; */
  min-height: 100vh;
  background-color: #282c34;
}

.App-header {
  text-align: center;
  align-items: center;
  /* display: flex !important; */
  font-size: calc(10px + 2vmin);
  justify-content: center;
  width: 100%;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}
.card {
  padding: 1.25rem;
  margin-bottom: 1.25rem;
}
